html {
    height: 100%;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 45px 175px;
    min-height: 100vh;
    background-image: linear-gradient(0deg, rgba(241, 169, 121, 0.513), rgba(245, 194, 159, 0.4)), url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: #291f12;
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    color: #291f12;
    margin-top: 3px;
    margin-bottom: 5px;
}

.song-player img {
    border-radius: 10px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
}

.lyrics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    max-width: 100%;
}

.song-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 45px;
    z-index: 2;
}
.section {
    color: rgba(255, 255, 255, 0.711);
    margin-bottom: 20px;
}

.verse {
    color: #291f12;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}