html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    /* grid background: https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css */
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}


header {
    background-color: #2a2e36;
    color: #ffffff;
    padding: 2% 0;
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

@keyframes line {
  from {
    left:5%;
    width:0%;
  }
  to {
    left: 5%;
    width:90%;
  }
}

.sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 5% 5% 7% 5%;
}

.card {
    color: #ffffff;
    border-radius: 5px;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: #2a2e36;
    box-shadow: 5px 5px 10px #cecece;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.card:hover {
    transform: translateY(-4px);
    background-color: #ffffff;
    color:#2a2e36;
    p {
        opacity: 0.75;
    }
}

.card h3 {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    font-weight: 600;
    padding: 30px 30px 0 30px;
}

.card p {
    font-size: 0.9rem;
    margin: 0;
    padding: 0 30px 30px 30px;
    opacity: 0.9;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #2a2e36;
}

@media (max-width: 1024px) {
    .sections {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}

@media (max-width: 767px) {
    .sections {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 5% 5% 7% 5%;
    }

    .card {
        padding: 20px 20px;
    }
}